body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.biodata {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #626262;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

.info {
  margin-top: 30px;
}

.info p {
  margin-bottom: 10px;
}

.info strong {
  font-weight: bold;
}

.pendidikana {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.pendidikana h2 {
  text-align: center;
}

.pendidikan {
  margin-top: 20px;
}

.pendidikan p {
  margin-bottom: 10px;
}

.pendidikan strong {
  font-weight: bold;
}

.profil {
  text-align: center;
  margin-bottom: 20px;
}

.profil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff; /* Tambahkan border putih */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tambahkan shadow */
}
